/******************************************************************/
/* Web del romanticismo - hoja de estilo de index                 */
/* Autor : Alonso Sánchez Moreno de Vega                          */
/* Versión 1.0 - 10/11/2022                                       */
/******************************************************************/


/**************estilo general**************************************/

/**************aqui van las fuentes********************************/

@font-face{
    font-family: titulo ;
    src: url(../fonts/ZenDots-Regular.ttf);

}
@font-face {
    font-family: texto;
    src: url(../fonts/FaunaOne-Regular.ttf);
}
html{
  scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
}
body{
    background-color: #FF8400;                            /*Ya se quitara*/
    font-family: texto;
    text-align: justify;
    color: white;
}
#wrapper{
    background-color: rgb(0, 0, 0);
    width: 99%;
    margin: auto;

}
.titulo-seccion{
    font-family: titulo;
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
    color: #FF8400;
    padding: 4% 0;
}
.enlace{
    text-decoration: none;
    color: #FF8400;
    font-weight: bold;
    transition: 1.5s;
}
.enlace:hover{
    color: rgb(201, 58, 58);
}
.centrado{
    text-align: center;
}

.ir-arriba {
  padding: 15px 18px;
  background: rgb(255, 255, 255);
  font-size: 20px !important;
  color: rgb(0, 0, 0);
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  border-radius: 50%;
  box-shadow: 0px 3px 4px 0px #3c3c3c;
  transition: 0.3s;
}
/**************NAVBAR(W3Schools)************************************/
/* Add a black background color to the top navigation */
nav {
  position: sticky;
  top: 0;
  z-index: 99;
}
.topnav {
    background-color: #333;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 99;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }

  .flip-card {
  background-color: transparent;
  width: 500px;
  height: 400px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

#imagen1{
  width: 500px;
  height: 400px;
}
#imagen2{
  width: 500px;
  height: 400px;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {

  color: white;
  transform: rotateY(180deg);
}


  @media screen and (max-width: 800px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 800px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
/**************hero section V.1*************************************/
#hero{
    
    background-image: url(../images/inazumaPic.jpg);          /*fondo*/
    height: 90vh;                                       /*dimensiones al alto*/
    background-repeat: no-repeat;                       /*no se repite*/
    background-size: cover;                             /*ajustada al espacio disponible*/
    background-position: center;                        /*la ajusto al espa*/
    font-family: titulo;
    font-size: 3.5rem;                                  /* al salir la fuente mas pequeña la agrando*/
    text-align: center;
    padding-top: 20px;
  
}

#titulo{
    background-color: rgb(255, 255, 255,0.5);
    backdrop-filter: blur(5px);                         /* al fondo se le aplica el filtro blur*/
    border-radius: 50%;
    width: 50%;
    margin: auto;
    padding: 20px;
    margin-top: 10%;
    color: #FF8400;
}


/**************hero section V.2*************************************/
#myVideo {
    position: relative;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
#titulo2{
    position: relative;
    top: -30vh;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    height: 200px;
    padding: 20px;
}
/**********************SECCIÓN INTRODUCCIÓN*************************/
/**********************SECCIÓN SAGAS********************************/
#Saga1{background-color:rgb(0, 0, 0);}
#Saga2{background-color:rgb(0, 0, 0);}
#Saga3{background-color:rgb(0, 0, 0);}
h1{text-align: center;}
/**contenedor grid**/
.grid2{
    display: grid;
    grid-template-columns: 50% 50%;
}
.grid2-2{
  display: grid;
  grid-template-columns: 50% 50%;
}
.col2 {
  margin: auto;
  padding:6%;}        

.col2-2 {
  margin: auto;
  padding:6%;}        

.col2-2 img {width:30%;
display: block;
margin: auto;}

/**que corra el aire**/
.texto{
    padding: 20px;
}
/*selector combinado(img dentro de .col2)*/
.col2 img{
  margin: auto;
    width: 100%;
    display: block;
}

.col2 ul{list-style-image: url(../images/1024px-Red_check.svg.png);}


/**********************SECCIÓN PROTAS Y AUTOR******************************/
#autores{
  background-color: black;
}
.grid4 {display:grid;
    grid-template-columns: 25% 25% 25% 25%;}

.col4 {padding:20px;}      

.card {
     /* Add shadows to create the "card" effect */
     box-shadow: 0 4px 8px 0 #ff8400;
     transition: 0.3s;
     background-color: rgb(170, 166, 166);
     border-radius: 3%;
   }
   
   /* On mouse-over, add a deeper shadow */
   .card:hover {
     box-shadow: 0 8px 16px 0 #ff8400;
   }
   
   /* Add some padding inside the card container */
   .container {
     padding: 2px 16px;
     text-align:center;
   }

.card img {     /* selector contextual, solo para las img que estén DENTRO de una card */
         width:100%;
         height:400px;  /* OJO, LAS FOTOS DEBERÍAN RETOCARSE DESDE FUERA  */
  /* opcional */
         opacity: 0.5;    /* opcional, para hacer un efecto dinámico con el ratón */
         transition: 1s;  /* cualquier cosa que pueda cambiar dinámicamente, tarda 1 segundo */
         padding:4%;
         border-radius:50%;
     }

.card img:hover {opacity:1;}   /* al poner el ratón encima, se define completamente la imagen */

.card a {text-decoration: none;
      font-weight:bold;
      background-color: rgb(107, 107, 107);
      transition:0.5s;
      border-radius:5px;
      color:white;
      padding:10px;
      margin-bottom:10px;
      display:inline-block;}  /* separa el bloque superior y el inferior, pero no ocupa el espacio de punta
                                 a punta, si hubiera otro inline-block, lo pondría a continuación...
                                 ***** ES LO QUE SE USA EN LAS BARRAS DE NAVEGACIÓN *********************/

.card a:hover {background-color: rgb(58, 57, 57);
            color:rgb(255, 255, 255);}



/************************** Datos ******************************************/
#datos{
  background-color: black;
}

.gridDatos{
display: grid;
  grid-template-columns: 50% 50%;
}

/************************** FOOTER CON GRID DE 3 COLUMNAS 25-25-50 ************/
#datos{
  background-color: black;
}

footer {background-color: #000000;
     padding:5% 0;}

.grid3 {display:grid;
     grid-template-columns: 25% 25% 50%;}

.col3 {padding:6%;}        

.col3 img {width:30%;
display: block;
margin: auto;}

.fa {
     padding: 15px;  /*************/
     font-size: 20px; /************/
     width: 50px;
     text-align: center;
     text-decoration: none;
     margin: 5px 2px;
     border-radius:50%; /*************/
   }
   
.fa:hover {
       opacity: 0.7;
   }

.fa-facebook {
     background: #3B5998;
     color: white;
   }
   
.fa-twitter {
     background: #55ACEE;
     color: white;
   }
   
.fa-google {
     background: #dd4b39;
     color: white;
   }
   
.fa-linkedin {
     background: #007bb5;
     color: white;
   }
   
.fa-youtube {
     background: #bb0000;
     color: white;
   }
   
.fa-instagram {
     background: #125688;
     color: white;
   }

/**************media queries****************************************/

@media only screen and (width<=1200px) {
  #titulo{
    font-size: 2.25rem;
  }
    #wrapper{width: 100%;
    font-size: 2rem;}
        .grid2{grid-template-columns: 100%;
        font-size: 1.5rem;}

        .grid3{grid-template-columns: 50% 50%;
        font-size: 1.5rem;}

        .grid4{grid-template-columns: 50% 50%;}

        #Lista2{margin-top:20px;}

        .grid2-2{grid-template-columns: 100%;
        font-size: 1rem;}
        .responsive-iframe{
          width: 500px;;
    
        }
}

@media only screen and (width<=650px) {
    #titulo{width: 80%;
    font-size: 2rem;}
    .col2-2{
      margin: auto;
    }
    .grid2{grid-template-columns: 100%;
      font-size: 1rem;}
    .grid3{grid-template-columns: 100%;}

    .grid4{grid-template-columns: 100%;}
    .grid2-2{grid-template-columns: 100%;
      font-size: 1rem;
      margin: 0%;

    }
    .flip-card{
      width: 400px;
      height: 300px;
      font-size: 0.77rem;
    }
    #imagen1{
      width: 400px;
      height: 300px;
    }
    #imagen2{
      width: 400px;
      height: 300px;
    }
    .responsive-iframe{
      width: 400px;

    }
}

